html,
body {
  margin: 0;
  padding: 0;
}

.slider {
  width: 1320px;
  margin: 40px auto;
}

.sl_wrap {
  display: flex;
  align-items: center;
}

.slider div h3 {
  flex: 1 1 0;
}

.slider div p {
  flex: 1 1 0;
  text-align: center;
  font-size: 30px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.products_box{
  width: 1200px;
  height: 800px;
  /*배경 임시로 넣어보기*/
  position: relative;
  top: 10px;
}
.products_box_top{
  width: 1023px;
  height: 50px;
  background-color: #271795;
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.products_box_top p{
  color: #defff8;
  font-size: 14px;
  text-align: left;
  padding: 14px 10px;

}
.products_more{
  display: inline-block;
  padding: 30px 120px;
  color: #fec5e5;
  font-size: 20px;
  background-color: #271795;
  position: absolute;
  bottom: 230px;
  left: 60px;
  z-index: 4;
}
.products_box1{
  width: 1023px;
  height: 605px;
  background-color: #fec5e5;
  border: 1px solid #271795;
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 3;
  box-sizing: border-box;
}
.products_section{
  margin-top: 30px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}
.products_photo{
  width: 600px;
  height: 400px;
  border: 2px solid #271795;
  background-color: #defff8;
}
/*배경이미지 갈아끼우기*/
.products_photo1{
  background: url(../slick.css/images/masking_tape.png);
  background-size: cover;
  margin-right: 20px;
}
.products_photo2{
  background: url(../slick.css/images/postage_stamp.png);
  background-size: cover;
  margin-right: 20px;
}
.products_photo3{
  background: url(../slick.css/images/postcard.png);
  background-size: cover;
  margin-right: 20px;
}
.products_photo4{
  background: url(../slick.css/images/echo_bag.png);
  background-size: cover;
  margin-right: 20px;
}
.products_photo5{
  background: url(../slick.css/images/postage_stamp.png);
  background-size: cover;
  margin-right: 20px;
}
.products_name{
  width: 400px;
  height: 60px;
  border: 2px solid #271795;
  background-color: #defff8;
  margin-bottom: 20px;
  padding: 18px 10px;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
  box-sizing: border-box;
}
.products_explain{
  width: 400px;
  height: 324px;
  border: 2px solid #271795;
  background-color: #defff8;
  text-align: left;
  font-size: 16px;
  padding: 15px 10px;
  box-sizing: border-box;
}
.back_next_btn{
  width: 400px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

